body, html {
    height: 100%;
  }

#li-a ul{
    height: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b4bdcc;
    padding: 3px;
    }

    #li-a li{
    padding-left:30px;
    float: left;
    padding-top:30px;
}

#home,
#shop,
#about,
#contact{
    font-size: 150%;
    display: block;
    text-align: center;
    border:0px;
    background-color: #6c8cb4;
    color: #14325a;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    
}



li form button{
    font-size: 150%;
    border-radius: 50px;
    width:50px;
    height:25px;
    border:0px;
    display: inline-block;
    text-align: center;
    background-color: #6c8cb4;
    color: #14325a;
    
}

#home:hover,
#shop:hover,
#about:hover,
#contact:hover,
li form button:hover{
    background-color: #e49929;
    transition: 0.2s;
}
.search{
    float:right;
    padding-right:80px;
}


.footer{
    position:relative;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}
.cols {
    display: flex;
    font-size: 150%;
    text-align: center;
    border:0px;
    background-color: #6c8cb4;
    color: #14325a;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
}

.col1, .col2 {
    display: block;
    flex: 33.3%
}

.cont {
    margin-left: 10%;
    margin-right: 10%;
}


#search{
    background-color:#dfeafd;
    height:25px;
    border-radius: 10px 40px 40px 10px;
    border:0px;
    margin-left: 4px;
    float: left;

}

.parallax {
    height: 80%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
#welcome{
    font-size: 500%;
    padding-top: 300px;
    width:700px;
    filter:invert(1);
    mix-blend-mode: difference;
    margin:auto auto auto auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 1;

}
