ul{
    height: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
    padding: 3px;
    }
li{
    padding-left:60px;
    float: left;
    padding-top:30px;
}
li form button,
li form input,
li button {
    float: left;
    
}
li button{
    
    border-radius: 5px;
    font-size: 150%;
    display: block;
    background-color:rgb(244, 244, 244) ;
    text-align: center;
    border:0px;
    background-color: beige;
    color:black;
}
li button:hover{
    background-color: rgb(255, 143, 143);
}
.search{
    float: right;
    padding-right: 100px;
}
